<div class="col-md-4">
    <div class="modal fade" id="modal-upload" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
      <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="modal-title-notification">Upload new File</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
            <form action="{% url 'base:upload-dept-file' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">

                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Select Type</label>
                      <select class="form-control" name="file_type" required>
                        
                        <option value="Accreditation">Accreditation</option>
                        <option value="Grading Sheet">Grading Sheet</option>
                        <option value="Autonomous ISO">Autonomous ISO</option>
        
                        
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="example-text-input" class="form-control-label">File name</label>
                        <input class="form-control" name="file_name" required type="text" id="example-text-input">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea class="form-control" name="description" required id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>

                      <div class="form-group">
                        <label for="example-text-input" class="form-control-label">Upload file</label>
                        <input class="form-control" name="file" type="file" required id="example-text-input">
                    </div>


                    
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-white">Upload file</button>
                    <button type="button" class="btn btn-link text-danger ml-auto" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>