{% extends 'base.html'%}

{% block title %}
Faculty Dashboard
{% endblock %}

{% block aside %}
  
{% include 'base/includes/faculty_aside.html' %}

{% endblock %}


{% block content %}

<div class="container-fluid py-4">
    <div class="row mt-4">
   
        <div class="col-lg-9 h-100 mb-lg-0 mb-4">
          <div class="card z-index-2 h-100">
              <div class="card-header pb-0 p-3">
                  <div class="row">
                      <div class="col-6 d-flex align-items-center">
                          
                          <div class="d-flex flex-column">
                              <h5 class="mb-0">Requests</h5>
  
                              <span class="text-md">Student IP Mark Removal Requests</span>
                          </div>
                      </div>
                      
          
                      </div>
                  </div>
            <div class="card-body p-3">
             
                  <div class="table-responsive">
                    <table class="table align-items-center mb-0" id="myTable">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Request</th>
                          <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Student</th>
                          <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Subject</th>
                          <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder opacity-7 ps-2">Semester / Year</th>
                          <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder opacity-7 ps-2">Additional File</th>
                          <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Sent</th>
                          <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder opacity-7 ps-2">Status</th>
                          <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder opacity-7 ps-2"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for ip in IPrequest %}
                        <tr>
                          <td>
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-md">IP Mark Removal</h6>
                                <p class="text-md text-secondary mb-0">Ticket #{{ip.id}}</p>
                              </div>
                            
                          </td>

                          <td>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-md">{{ ip.student.user.last_name }}, {{ ip.student.user.first_name}}</h6>
                              <p class="text-md text-secondary mb-0">{{ ip.student.student_id}}</p>
                            </div>
                          
                          </td>

                          <td>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-md">{{ip.subject_code}}</h6>
                              <p class="text-md text-secondary mb-0">{{ip.subject_name}}</p>
                            </div>
                          
                          </td>

                          <td>
                            <div class="text-center d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-md">{{ip.sem_year}}</h6>
                                <p class="text-md text-secondary mb-0">{{ip.units}} Units</p>
                            </div>
                          
                          </td>
                          <td>
                            {% for af in ip.additionalfile_set.all %}
                            <div class="text-center d-flex flex-column justify-content-center">
                                <a href="{{ af.file.url }}" target="_blank"><p class="text-md mb-0">{{ af.file }}</p></a>
                            </div>
                            {% endfor %}
                          
                          </td>

                          <td>
                            <p class="text-md font-weight-bold mb-0">{{ip.date_requested|timesince}} ago</p>
                            <p class="text-md text-secondary mb-0">{{ip.date_requested}}</p>
                          </td>
                          <td class="align-middle text-center text-md">
                              <span class="badge bg-gradient-success">{{ ip.status }}</span>
                          </td>

                          <td class="text-md align-middle text-center">

                            {% if ip.status == 'Processing' %}
                          
                            {% elif ip.status == 'Pending' %}

                            <a href="javascript:;" class="mx-2 process-button" data-request-id="{{ ip.id }}"
                            data-bs-toggle="modal" data-bs-target="#modal-process">
                            <i class="fas fa-check-circle text-secondary" aria-hidden="true"></i>
                            </a>

                            <a href="javascript:;" class="mx-2" data-bs-toggle="tooltip" data-bs-title="Decline">
                                <i class="fas fa-trash text-secondary" aria-hidden="true"></i>
                              </a>

                            {% elif ip.status == 'Approved' %}
                            <a href="{% url 'base:view-approval-form' request_id=ip.id %}" target="_blank" class="mx-2" data-bs-toggle="tooltip" data-bs-title="Print">
                              <i class="fas fa-print text-secondary" aria-hidden="true"></i>
                            </a>
                          
                            {% endif %}


                          </td>
                            
  
                        </tr>
                        {% endfor %}
  
  
                      </tbody>
                    </table>
                  </div>
                
            </div>
          </div>
        </div>

        <div class="col-lg-3 h-100 mb-lg-0 mb-4">
          <div class="card z-index-2 h-100">
              <div class="card-header pb-0 p-3">
                  <div class="d-flex justify-content-between align-items-center">
                     
                 
                        <h6 class="mb-0">My requests</h6>
                 
                        <small class="mb-0">Faculty Leave of Absence</small>
                 
                      
              
                  </div>
               
                </div>

                
            <div class="card-body">
             
                  <div class="table-responsive">
                    <table class="table align-items-center mb-0" id="myTable">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Request</th>
                        
                          <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder opacity-7 ps-2">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for ip in myRequest %}
                        <tr>
                          <td>
                           
                             
                                <div class="d-flex flex-column justify-content-center">
                                  <h6 class="mb-0 text-md">{{ ip.purpose }}</h6>
                                  <p class="text-md text-secondary mb-0">Request #{{ip.id}}</p>
                                </div>
                            
                          </td>

            
                          <td class="align-middle text-center text-md">
                              <span class="badge bg-gradient-success">{{ ip.status }}</span>
                          </td>

                            
  
                        </tr>
                        {% endfor %}
  
  
                      </tbody>
                    </table>
                  </div>
                
            </div>
          </div>
        </div>
  

        
    </div>
</div>



<!-- MODALS -->

<div class="col-md-4">
    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
      <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="modal-title-notification">Faculty Leave of Absence</h6>
            
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'base:submit-leave-request' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Purpose of Absence: </label>
                    <select class="form-control" name="purpose_of_absence" id="purpose_of_absence">
                      <option value="Vacation Leave">Vacation Leave</option>
                      <option value="Sick Leave"> Sick Leave </option>
                      <option value="Official Business"> Official Business </option>
            
                    </select>
    
                  </div>
                </div>
          
              </div>



            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="example-text-input" class="form-control-label">From</label>
                        <input class="form-control" name="from_date" type="date" placeholder="IT-MM" id="example-text-input">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="example-text-input" class="form-control-label">To:</label>
                        <input class="form-control" name="to_date" type="date" placeholder="Multimedia" id="example-text-input">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="example-text-input" class="form-control-label">No. Of Days</label>
                        <input class="form-control" name="number_of_days" type="num" placeholder="3" id="example-text-input">
                    </div>
                </div>

                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Reason/Purpose</label>
                  <textarea class="form-control" name="reason" id="exampleFormControlTextarea1" rows="2"></textarea>
                </div>
              
                <div class="form-check mx-3">
                  <input class="form-check-input" name="is_there_substitute" type="checkbox" value="true" id="fcustomCheck1">
                  <label class="custom-control-label" for="customCheck1">Do you need a substitute?</label>
                </div>
                
                <div class="form-group substitute-reason" style="display: none;">
                  <label for="exampleFormControlTextarea2">Reason for a substitute:</label>
                  <textarea class="form-control" name="substitute_reason" id="exampleFormControlTextarea2" rows="2"></textarea>
                </div>

      
            </div>

            <div class="modal-footer mb-0">
              <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn bg-gradient-primary">Save changes</button>
            </div>

            </form>
          </div>

        </div>
      </div>
    </div>
</div>

<div class="col-md-4">
  <div class="modal fade" id="modal-process" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-notification">IP Mark Removal Request</h6>
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            
          </button>
        </div>
        <div class="modal-body">
          <p class="mb-0 text-center">Please enter the grades of the student</p>
          <form action="{% url 'base:submit-IP-Mark' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}

              <input type="hidden" name="requestID" id="requestID" value="">

              <div class="row text-center">
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="example-number-input" class="form-control-label">Prelim</label>
                          <input class="form-control text-center" name="prelim" type="text" id="example-number-input" maxlength="3">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="example-number-input" class="form-control-label">Midterm</label>
                          <input class="form-control text-center" name="midterm" type="text" id="example-number-input" maxlength="3">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="example-number-input" class="form-control-label">Semi-final</label>
                          <input class="form-control text-center" name="semis" type="text" id="example-number-input" maxlength="3">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="example-number-input" class="form-control-label">Final</label>
                          <input class="form-control text-center" name="finals" type="text" id="example-number-input" maxlength="3" >
                      </div>
                  </div>

              </div>

              <div class="row">
                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="example-number-input" class="form-control-label">Final Grade</label>
                          <input class="form-control text-center" name="final_grade" type="text" id="final_grade" maxlength="5" >
                      </div>
                  </div>
                  <div class="col-md-8">
                      <div class="form-group">
                          <label for="example-number-input" class="form-control-label text-center">Remarks</label>
                          <input class="form-control text-center" name="remarks" type="text" id="remarks" readonly>
                      </div>
                  </div>

              </div>

              <div class="modal-footer">
                  <button type="Submit" class="btn btn-white">Submit grade</button>
                  <button type="button" class="btn btn-link text-dark ml-auto" data-bs-dismiss="modal">Close</button>
                </div>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>





{% endblock %}


{% block javascripts %}

<script>
  let table = new DataTable('#myTable');
</script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var links = document.querySelectorAll("a[href*='/files/']"); 
      for (var i = 0; i < links.length; i++) {
        var link = links[i];
        var filename = link.textContent.trim().split('/').pop(); 
        link.textContent = filename; 
      }

      
    });
  </script>

  <script>
    function updateRemarks() {
      var finalGradeInput = document.getElementById("final_grade");
      var remarksInput = document.getElementById("remarks");
  
      if (finalGradeInput.value) {
        var finalGrade = parseFloat(finalGradeInput.value);
        remarksInput.value = finalGrade > 74.9 ? "PASSED" : "FAILED";
      } else {
        remarksInput.value = ""; 
      }
    }
  
    // Attach event listener to final grade input for dynamic updates
    document.getElementById("final_grade").addEventListener("keyup", updateRemarks);
  

    window.onload = updateRemarks;
  </script>


  <script>

    var modal = document.getElementById('modal-process');
    modal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget;
      var requestId = button.getAttribute('data-request-id');
      document.getElementById('requestID').value = requestId;
    });
  </script>

  <script>
    $(document).ready(function() {
      // Show/hide input field based on selected option in dropdown
  
      // Show/hide textarea based on checkbox state
      $('#fcustomCheck1').change(function() {
        if ($(this).is(':checked')) {
          $('.substitute-reason').show();
        } else {
          $('.substitute-reason').hide();
        }
      });
    });
  </script>
  


{% endblock %}