{% extends 'base.html'%}

{% block title %}
Faculty Dashboard
{% endblock %}

{% block aside %}
  
{% include 'base/includes/faculty_aside.html' %}

{% endblock %}


{% block content %}

<div class="container-fluid py-4">
    <div class="row mt-4">




        <div class="col-lg-12 h-100 mb-lg-0 mb-4">

            <div class="sub-content-area">

                <div class="card z-index-2 h-100">
                    <div class="card-header pb-0 p-3">
                        <div class="row">
                            <div class=" d-flex justify-content-between align-items-center">
                                
                                <div class="d-flex flex-column">
                                    <h5 class="mb-0">My Requests</h5>
        
                                    <span class="text-md">Leave of Absence</span>
                                </div>


                                <button class="btn bg-gradient-info" data-bs-toggle="modal" data-bs-target="#modal-form">Submit Request</button>
                            </div>
                            
                
                            </div>
                        </div>
                    <div class="card-body p-3">
                    
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0" id="myTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Request</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Date</th>
                                    <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder opacity-7 ps-2">No. of Days</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Sent</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Recommended by:</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">ACAD </th>
                                
                                    <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder opacity-7 ps-2">Status</th>
                                    <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder opacity-7 ps-2">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ip in LeaveRequest %}
                                <tr>
                                <td>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-md">{{ ip.purpose }}</h6>
                                        <p class="text-md text-secondary mb-0">Ticket #{{ip.id}}</p>
                                    </div>
                                    
                                </td>

                                <td>
                                    <div class="d-flex flex-column justify-content-center">
                                     <p class="text-md text-secondary mb-0">From: {{ ip.from_date }}</p>
                                     <p class="text-md text-secondary mb-0">To: {{ ip.to_date }}</p>
                                    </div>
                                
                                </td>

                                <td class="text-center">
                                    <h6 class="mb-0 text-md">{{ip.number_of_days}}</h6>
                                    
                                
                                </td>

                                
                                <td>
                                    <p class="text-md font-weight-bold mb-0">{{ip.date_requested|timesince}} ago</p>
                                    <p class="text-md text-secondary mb-0">{{ip.date_requested}}</p>
                                </td>

                                <td>
                                 
                                    {% if ip.approved_by_dean %}

                                    <div class="form-check">
                                        <input class="form-check-input" name="is_there_substitute" type="checkbox" value="true"  checked disabled>
                                        <label class="text-secondary" for="customCheck1">Approved</label>
                                    </div>
                                    {% else %}

                                    <div class="form-check mb-0">
                                        <input class="form-check-input" name="is_there_substitute" type="checkbox" value="true"  disabled>
                                        <label class="text-secondary" for="customCheck1">Approved</label>
                                    </div>

                                    {% endif %}

                                    <div class="d-flex py-1">
                                     
                                        <div class="d-flex flex-column justify-content-center">
                                        <p class="mb-0 font-weight-bold text-md"><u>{{ ip.dean.first_name }} {{ ip.dean.last_name }}</u></p>
                                        <p class="text-xs text-secondary mb-0 text-center">Dean</p>
                                        </div>
                                        
                                    </div>
                                  

                                  
                                </td>

                                <td>
                                 
                                    {% if ip.approved_by_ACAD %}

                                    <div class="form-check">
                                        <input class="form-check-input" name="is_there_substitute" type="checkbox" value="true"  checked disabled>
                                        <label class="text-secondary" for="customCheck1">Approved</label>
                                    </div>
                                    {% else %}

                                    <div class="form-check mb-0">
                                        <input class="form-check-input" name="is_there_substitute" type="checkbox" value="true"  disabled>
                                        <label class="text-secondary" for="customCheck1">Approved</label>
                                    </div>

                                    {% endif %}

                                    <div class="d-flex py-1">
                                     
                                        <div class="d-flex flex-column justify-content-center">
                                        <p class="mb-0 font-weight-bold text-md"><u>{{ ip.acad.first_name }} {{ ip.acad.last_name }}</u></p>
                                        <p class="text-xs text-secondary mb-0 text-center">VP, Academic Affairs</p>
                                        </div>
                                        
                                    </div>
                                  

                                  
                                </td>
                           

                        
                                <td class="align-middle text-center text-md">
                                    <span class="badge bg-gradient-success">{{ ip.status }}</span>
                                </td>

                                <td class="text-md align-middle text-center">

                                    {% if ip.status == 'Processing' %}
                                    <a href="javascript:;" class="mx-2 process-button" data-request-id="{{ ip.id }}"
                                    data-bs-toggle="tooltip" data-bs-title="View request">
                                    <i class="fas fa-eye text-secondary" aria-hidden="true"></i>
                                    </a>
                                    {% elif ip.status == 'Pending' %}

                                    <a href="javascript:;" class="mx-2" data-bs-toggle="tooltip" data-bs-title="Cancel Request">
                                        <i class="fas fa-trash text-secondary" aria-hidden="true"></i>
                                    </a>

                                    {% elif ip.status == 'Approved' %}
                                    <a href="{% url 'base:view-approval-form' request_id=ip.id %}" target="_blank" class="mx-2" data-bs-toggle="tooltip" data-bs-title="Print">
                                    <i class="fas fa-print text-secondary" aria-hidden="true"></i>
                                    </a>
                                
                                    {% endif %}


                                </td>
                                    
        
                                </tr>
                                {% endfor %}
        
        
                            </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>

            </div>


        </div>

     
  

        
    </div>
</div>



<!-- MODALS -->



<div class="col-md-4">
  <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-notification">Faculty Leave of Absence</h6>
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'base:submit-leave-request' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Purpose of Absence: </label>
                  <select class="form-control" name="purpose_of_absence" id="purpose_of_absence">
                    <option value="Vacation Leave">Vacation Leave</option>
                    <option value="Sick Leave"> Sick Leave </option>
                    <option value="Official Business"> Official Business </option>
          
                  </select>
  
                </div>
              </div>

              
              <div class="col-md-6">
                <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Length of service: </label>
                    <input class="form-control" name="lengthOfService" type="text" placeholder="" id="example-text-input">
                </div>
            </div>
        
            </div>



          <div class="row">
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="example-text-input" class="form-control-label">From</label>
                      <input class="form-control" name="from_date" type="date" placeholder="IT-MM" id="example-text-input">
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="example-text-input" class="form-control-label">To:</label>
                      <input class="form-control" name="to_date" type="date" placeholder="Multimedia" id="example-text-input">
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="example-text-input" class="form-control-label">No. Of Days</label>
                      <input class="form-control" name="number_of_days" type="num" placeholder="3" id="example-text-input">
                  </div>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">Reason/Purpose</label>
                <textarea class="form-control" name="reason" id="exampleFormControlTextarea1" rows="2"></textarea>
              </div>
            
              <div class="form-check mx-3">
                <input class="form-check-input" name="is_there_substitute" type="checkbox" value="true" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">Do you need a substitute?</label>
              </div>
              
              <div class="form-group name_of_substitute" style="display: none;">
                <input class="form-control" name="name_of_substitute" type="text" placeholder="Name of Substitute">
              </div>


              
              <div class="form-group substitute-reason" style="display: none;">
                <label for="exampleFormControlTextarea2">Reason for a substitute:</label>
                <textarea class="form-control" name="substitute_reason" id="exampleFormControlTextarea2" rows="2"></textarea>
              </div>

    
          </div>

          <div class="modal-footer mb-0">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn bg-gradient-primary">Save changes</button>
          </div>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>





{% endblock %}


{% block javascripts %}
<script src="/static/assets/js/core/jquery.js"></script>

<script>
  let table = new DataTable('#myTable');
</script>


 

  <script>
    $(document).ready(function() {
      // Show/hide textarea based on checkbox state
      $('#fcustomCheck1').change(function() {
        if ($(this).is(':checked')) {
          $('.substitute-reason').show();
          $('.name_of_substitute').show();
        } else {
          $('.substitute-reason').hide();
          $('.name_of_substitute').hide();
        }
      });
    });
    
  </script>
  

  <script>
    // Get today's date
    var today = new Date().toISOString().split('T')[0];
  
    // Set the minimum value for the 'from_date' input field
    document.getElementsByName("from_date")[0].setAttribute('min', today);
  
    // Set the minimum value for the 'to_date' input field
    document.getElementsByName("to_date")[0].setAttribute('min', today);
  </script>
  



{% endblock %}